.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  background-color: #333; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  color: #333; 
  font-size: 20px; 
}

button {
  background-color: #0074d9;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

button i {
  font-size: 18px;
}


button:hover {
  background-color: #0056b3;
}

.poster {
  width: 150px; 
  height: auto; 
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-item {
  margin: 10px;
  text-align: center;
}